<!DOCTYPE html>
<html xmlns:th = "http://www.thymeLeaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Booking System</title>
</head>
<body>
<div align="center">
    <h1>Booking Table </h1>
    <a href="new">Create a New Booking</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
        <th>ID</th>
            <th>Name</th>
            <th>Team</th>
            <th>Actions</th>
        </tr>
        </thead>
    <tbody>
    <tr th:each="booking : ${listBookings}">
        <td th:text="${booking.id}">id</td>
        <td th:text="${booking.name}">name</td>
        <td th:text="${booking.teamname}">teamname</td>
        <td>
            <a th:href="@{'/edit/' + ${booking.id}}" >Update</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${booking.id}}" >Delete</a>
        </td>
    </tr>
    </tbody>
    </table>
</div>
</body>
</html>