<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset= "ISO-8859-1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Create New Booking</title>
</head>
<body>
<div align="center">
    <h1>Create New Booking</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${booking}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Booking Name: </td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Team Name: </td>
                <td><input type="text" th:field="*{teamName}" /></td>
            </tr>
            <tr>
                <td>Time: </td>
                <td>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="time" autocomplete="off" th:field="*{time}"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });
</script>
</body>
</html>