
<!--<form action="#" th:action="@{/bookings/create}" th:object="${booking}" method="post"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <table border="1">
        <tr>
&lt;!&ndash;            <td><label th:text="#{msg.id}" /></td>&ndash;&gt;
            <td><label>name</label></td>
            <td><input type="number" th:field="*{name}" /></td>
        </tr>
        <tr>
&lt;!&ndash;            <td><label th:text="#{msg.name}" /></td>&ndash;&gt;
            <td><label>teamname</label></td>

            <td><input type="text" th:field="*{teamname}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>-->
