<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset= "utf-8">
    <title>Booking List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Current Bookings</h2>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Team</th>
            <th>Time</th>
        </tr>
    <tr th:if="${bookings.empty}">
        <td colspan="2"> No Bookings Available </td>
    </tr>
    <tr th:each="booking : ${bookings}">
        <td><span th:text="${booking.id}">ID</span></td>
        <td><span th:text="${booking.name}">Name</span></td>
        <td><span th:text="${booking.teamName}">Team</span></td>
        <td><span th:text="${booking.time}">Time</span></td>
    </tr>
    </table>
</div>
</body>
</html>